.App {
  background-color: #7598de;
  text-align: flex-start;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
